.school-image {
    width: 100px;
    height: 100px;
}

.students-information {
    padding: 10px;
    line-height: 1.8rem;
}

.single-school {
    padding: 10px;
    line-height: 1.8rem;
}

.school-name {
    font-weight: bold;
}

.delete-button {
    margin: 10px;
    background-color: yellow;
    color: red;
}